
@model TrackMyDay.Models.CalanderModel

<div>
    <h1> @Html.DisplayFor(model => model.Titel)</h1>


    <p><strong>@Html.DisplayNameFor(model => model.Description): </strong> @Html.DisplayFor(model => model.Description)</p>
    <p><strong>@Html.DisplayNameFor(model => model.Date): </strong> @Html.DisplayFor(model => model.Date)</p>

    <p><strong>@Html.DisplayNameFor(model => model.Event): </strong> @Html.DisplayFor(model => model.Event)</p>
    <p><strong>@Html.DisplayNameFor(model => model.Repeat): </strong> @Html.DisplayFor(model => model.Repeat)</p>

</div>

