<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>





@model IEnumerable<TrackMyDay.Models.JobModel>

<div class="row">
    <div class="col-sm-3">
        <label for="search">Search By :</label>
        <select id="SearchList">
            <option value="Position">Position</option>
            <option value="Company">Company Name</option>
            <option value="Address">Address</option>
            <option value="Contac">Contac </option>
            <option value="Refferance">Refferance </option>


        </select>
    </div>
    <input class="col-sm-3" id="myInput" type="text" placeholder="What are You Looking for !!!!" />

   

</div>
<br /><br />


<table class="table">

    <tr>

        <th>
             @Html.DisplayNameFor(model => model.Position) 
          
        </th>

        <th>
            @Html.DisplayNameFor(model => model.Company)
        </th>


        <th>
            @Html.DisplayNameFor(model => model.Weblink)
        </th>

        <th class="rubel">
            @Html.DisplayNameFor(model => model.Address)
        </th>

        <th class="rubel">
            @Html.DisplayNameFor(model => model.Type)
        </th>

        <th class="rubel">
            @Html.DisplayNameFor(model => model.Announcement)
        </th>

        <th class="rubel">
            @Html.DisplayNameFor(model => model.ContacInfo)
        </th>

        <th class="rubel">
            @Html.DisplayNameFor(model => model.ApplyThrough)
        </th>

        <th>
        @Html.DisplayNameFor(model => model.Status) 

        </th>

        <th>
            <a href="#" id="SortingDate" value ="A" style="color:black; text-decoration:none">Application Date </a> 
            

        </th>
        <th>
            <a href="#" id="SortingDeadline" value ="A" style="color:black; text-decoration:none">Deadline </a>
            
        </th>
        <th class="rubel">
            @Html.DisplayNameFor(model => model.Refferance)
        </th>

        <th>

        </th>
    </tr>


    @foreach (var item in Model)
    {

        <tr class="card">
            <td class="card-header col-sm-3 ">
                <a href="#" onClick="ApplicationDetails(@item.Id)" ;>@item.Position</a>
            </td>
            <td class="card-header">
                @Html.DisplayFor(modelItem => item.Company)
            </td>

            <td class="card-header col-sm-3">
                <a target="_blank" href="@item.Weblink"> Check Link</a>

            </td>

            <td class="card-header col-sm-3 rubel">
                @Html.DisplayFor(modelItem => item.Address)
            </td>

            <td class="card-header col-sm-3 rubel">
                @Html.DisplayFor(modelItem => item.Type)
            </td>

            <td class="card-header col-sm-3 rubel">
                @Html.DisplayFor(modelItem => item.Announcement)
            </td>

            <td class="card-header col-sm-3 rubel">
                @Html.DisplayFor(modelItem => item.ContacInfo)
            </td>

            <td class="card-header col-sm-3 rubel">
                @Html.DisplayFor(modelItem => item.ApplyThrough)
            </td>

            <td class="card-header col-sm-3 ">
                @Html.DisplayFor(modelItem => item.Status)
            </td>

            <td class="card-header col-sm-3 ">
               
                @Html.ValueFor(modelItem => item.ApplyDate, "{0:dd/MM/yyyy}")
            </td>

            <td class="card-header col-sm-3 ">

                @Html.ValueFor(modelItem => item.Date, "{0:dd/MM/yyyy}")
            </td>

            <td class="card-header col-sm-3 rubel">
                @Html.DisplayFor(modelItem => item.Refferance)
            </td>

            <td class="card-header col-sm-3">
                <a class="collapsed card-link" onclick="UpdateData(@item.Id)" data-toggle="collapse" href="#@item.Id">Update </a>
            </td>
        </tr>

        <tr id="@item.Id" class="collapse " data-parent="#accordion ">
            <td class="card-body">
                <form id="@item.Id" class="Hasan" action=" https://localhost:44396/JobApplication/Edit" method="post">

                    <div class="form-horizontal">

                        <div class="@item.Id"></div>

                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="button" value="Submit" class="btn btn-default" id="Submit" onclick="UpdateDataforedit(@item.Id)" data-toggle="collapse" href="#@item.Id" />
                            </div>
                        </div>
                    </div>


                </form>

            </td>
        </tr>

    }


</table>




<script>
    
    $(document).ready(function () {
        $("#myInput").on("keyup", function myFunction() {
            var input, filter, table, tr, td, i;
            var value = $(this).val().toUpperCase();

            tr = document.getElementsByClassName("card");
            var check = 0;
            var item = $('#SearchList').val();
            switch (item) {
                case "Position":
                    check = 0;
                    break;

                case "Company":
                    check = 1;
                    break;

                case "Address":
                    check = 3;
                    break;
                case "Contac":
                    check = 6;
                    break;
                case "Refferance":
                    check = 11
                    break;

            }
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[check];
                if (td) {
                    if (td.innerHTML.toUpperCase().indexOf(value) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        });
       
        
        $(".rubel").hide();


    });



    $('#SortingDeadline').click(function () {
        if ($(this).val() == "A") {
            sortTable(0, 9);
            $(this).val("B");

        }
        else {
            $(this).val("A");
            sortTable(1, 9);
        }
    });

    $('#SortingDate').click(function () {
        
        if ($(this).val() == "A") {
            sortTable(0,10);
            $(this).val("B");

        }
        else {
            $(this).val("A");
            sortTable(1,10);
        }
    });

   

    function UpdateData(id) {

        var id = id;
        var url = "/JobApplication/Edit";

        $.ajax({

            url: url,
            data: { id: id },

            success: function (data) {

                $('.' + id).html(data);

            }

        });

    }

    function UpdateDataforedit(id) {

        var x = '#' + id +'.Hasan';
        var frm = $(x);
        
        $.ajax({
            type: frm.attr('method'),
            url: frm.attr('action'),
            data: frm.serialize(),
            success: function (data) {

                if (data == "True") {

                    alert(" Job info is Updated !!!");
                }
                else {
                    alert("Failed !!!");
                }

            },
            error: function (data) {
                alert("Failed !!!");
            },
        });

    }


    function ApplicationDetails(id) {

        var id = id;
        var url = "/JobApplication/Detail";

        $.ajax({

            url: url,
            data: { id: id },

            success: function (data) {
                $('#Detailscontainer').html(data);
                $('#JobDetails').modal();
            }

        });

    }


    function sortTable(order, date) {
        
        var table, rows, switching, i, x, y, shouldSwitch;
        table = document.getElementById("table");
        switching = true;
        /*Make a loop that will continue until
        no switching has been done:*/
        rows = document.getElementsByClassName("card");
        while (switching) {
            //start by saying: no switching is done:
            switching = false;



            /*Loop through all rows of class "card" :*/
            for (i = 0; i < (rows.length - 1); i++) {
                //start by saying there should be no switching:
                shouldSwitch = false;
                /*Get the two elements you want to compare,
                one from current row and one from the next:*/
                x = rows[i].getElementsByTagName("TD")[date];
                y = rows[i + 1].getElementsByTagName("TD")[date];

                //check if the two rows should switch place:
               
                 if (order == 0) {
                    if (x.innerHTML < y.innerHTML) {
                        //if so, mark as a switch and break the loop:

                        shouldSwitch = true;
                        break;
                    }
                 }

                 else if (order == 1) {
                     if (x.innerHTML > y.innerHTML) {
                         //if so, mark as a switch and break the loop:

                         shouldSwitch = true;
                         break;
                     }
                 }
                
            }
            if (shouldSwitch) {
                /*If a switch has been marked, make the switch
                and mark that a switch has been done:*/
                rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                switching = true;

            }
        }
    }

   

</script>


<div class="modal fade" id="JobDetails">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <div class="modal-body">
                <div id="Detailscontainer">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">OK</button>
            </div>
        </div>
    </div>
</div>




