@model TrackMyDay.Models.JobModel

<meta name="viewport" content="width=device-width">
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<form id="jobinfo" action=" https://localhost:44396/JobApplication/Create" method="post">

    <div class="form-horizontal">
        <h4>Job Information</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.Position, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Position, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Position, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Company, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.Company, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Company, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("Address", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            @Html.LabelFor(model => model.Type, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                Full Time:  @Html.RadioButtonFor(model => model.Type, "Full Time")
                Internship: @Html.RadioButtonFor(model => model.Type, "Internship")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Weblink, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Weblink, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Weblink, "", new { @class = "text-danger" })
            </div>
        </div>

       

        <div class="form-group">
            @Html.LabelFor(model => model.Announcement, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                Announced:  @Html.RadioButtonFor(model => model.Announcement, "Announced")
                Unsolited: @Html.RadioButtonFor(model => model.Announcement, "Unsolited")
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ContacInfo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextArea("ContacInfo", null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ContacInfo, "", new { @class = "text-danger" })
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ApplyThrough, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                Mail:  @Html.RadioButtonFor(model => model.ApplyThrough, "Mail")
                Web : @Html.RadioButtonFor(model => model.ApplyThrough, "Web")
                Phone : @Html.RadioButtonFor(model => model.ApplyThrough, "Phone")
                Personally : @Html.RadioButtonFor(model => model.ApplyThrough, "Personally")
                Facebook : @Html.RadioButtonFor(model => model.ApplyThrough, "Facebook")
                LinkedIn : @Html.RadioButtonFor(model => model.ApplyThrough, "LinkedIn")
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label col-md-2" })

            <div class="col-md-10">
                <input type="text" id="ApplicationDate" class="form-control" name="Date">

            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Refferance, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Refferance, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Refferance, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Submit" class="btn btn-default" id="CreateJob" />
            </div>
        </div>
    </div>
   

    </form>


    <script>

        $("#ApplicationDate").click(function () {
            $("#ApplicationDate").datepicker({ dateFormat: 'dd-mm-yy' });

        });

        $("#CreateJob").click(function () {


            var frm = $('#jobinfo');
            $.ajax({
                type: frm.attr('method'),
                url: frm.attr('action'),
                data: frm.serialize(),
                success: function (data) {
                   
                    if (data == "True") {
                        $('#jobinfo').trigger("reset");
                        alert(" Job info is Submitted !!!");
                    }
                    else {
                        alert("Failed !!!");
                    }
                    
                },
                error: function (data) {
                    alert("Failed !!!");
                },
            });

        });

    </script>



